<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn life hacks for daily well-being</h1>
    <br />
    <h2>Small steps for a better you</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-10 col-sm">
    <br />
    <span class="fa fa-university fa-5x"></span>
    <br /><br />
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-10 col-sm">
    <br />
    <span class="fa fa-calendar fa-5x"></span>
    <br /><br />
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-10 col-sm">
    <br />
    <span class="fa fa-users fa-5x"></span>
    <br /><br />
    <h3>Join our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>
