<br />

<div class="booyah-box col-10 offset-1">
<h1>Privacy Policy</h1>
  <p>
  We collect your e-mail address as the only source of personal information for access to the viewable lessons.
  <br />
  While credit card information may be required, Stripe manages and processes this information. This information is not retained in our database.
  <br />
  <br />
  Last updated: 28 April 2017
  </p>
</div>