<br />

<div class="booyah-box col-10 offset-1">
<h1>Team</h1>
  <p>
  This web application is only run by me, Jeffrey. While I am the lone administrator, the simplicity of this web application allows me to provide simple upkeep. 
  <br />
  With the inpiration and support from the team at the FireHose Project, I was able to create this application. For that, I am grateful.
  </p>
</div>